@import 'base.css';

/***** 공통사항 *****/
@media screen and (max-width:768px) {
	html, body {font-size:14px;}
}
@media screen and (max-width:480px) {
	html, body {font-size:12px;}
}
@media screen and (max-width:320px) {
	
}

@keyframes sizeUp {
	0% {transform:scale(1);}
	100% {transform:scale(1.2);}
}
@keyframes sizeDn {
	0% {transform:scale(1.2);}
	100% {transform:scale(1);}
}

.cycle-pager { text-align: center; width: 100%; z-index: 9000; position: absolute; bottom: 2%; overflow: hidden;}
.cycle-pager span { font-family: arial; font-size: 30px; padding: 0 0.5rem; display: inline-block; color: #eee; cursor: pointer; }
.cycle-pager span.cycle-pager-active { color: #ec2427;}
.cycle-pager > * { cursor: pointer;}

/**** 헤더 영역 ****/

header {width: 100%; margin: auto; position: fixed; top: 0; left: 50%; transform: translateX(-50%); height:4rem; font-weight: 800; background-color: #fff; z-index: 9999; box-shadow: 5px 5px 10px rgba(0,0,0,.2);}
.nav_wrap {position: relative; width: 100%; max-width: 1600px; margin: auto;}
	.logo {width: 7.5vw; float: left; margin-left: 4rem; line-height: 56px;}
	.logo > img {border: 3px solid #333;}
	.navs {float: left; position: absolute; width: 100%; top:58%; left: 50%; transform: translate(-50%, -50%); font-size: 0.8vw; z-index: 9999; text-align: center;}
	.navs .nav {display: inline-block; padding: 0 1.5%; cursor: pointer;}
	.navs .nav a {color: #333;}
	.navs .nav .under_dot {height:1px; width:0; background-color: transparent; transition: width .2s, background-color .5s; margin: 5px auto 0 auto;}
	.navs .nav:hover .under_dot {width: 100%; background-color: #333;}
	.navs .nav.act_link .under_dot {width: 3px; height: 3px; border-radius: 50%; background-color: #333;}
	.nav_mo_btn, .nav_mo_wrap {display: none;}
	.lngs {float: right; font-size:0.75em; margin-right: 3em;}
	.lngs > li {float: left; padding: 0 1em; line-height: 62px;}
	.lngs > li:first-child {color: #ec2427; padding: 0 1em;}

/**** 네비게이션 responsive ****/
@media screen and (max-width:1200px) {
	.logo {width: 10vw;}
	.navs {font-size: 1.2vw; width: 46%;}
}
@media screen and (max-width:768px) {
	header {box-shadow: none;}
	.logo {width: 18%; margin-left: 2%; line-height: 46px;}
	.navs, .lngs {display: none;}
	.nav_mo_btn {display: block; float: right; font-size: 2rem; line-height: 4rem; margin-right: 2%;}
	.nav_mo_wrap {position: fixed; display: block; top: 0; right: -70%; width: 70%; height: 100vh; background-color: #333;}
	.nav_mo {color: #fff; text-align: right; font-size:2rem; line-height: 3rem; padding: 2rem;}
	.nav_mo > ul > li:nth-child(5) {margin-bottom: 2em}
	.nav_mo > ul > li > span {font-size: 1.125rem;}
	.nav_mo > ul > li > :first-child {color: #ec2427;}
		.sns_mo {font-size: 1.25rem; margin-top: 3rem;}
		.sns_mo > span {display: inline-block; padding-left: 1rem;}
}
@media screen and (max-width:480px) {
	header {height: 4rem;}
	.logo {margin-left: 2%;  line-height: 3.25rem;}
	.navs, .lngs {display: none;}
	.nav_mo_btn {display: block; float: right; font-size: 2rem; line-height: 3.75rem; margin-right: 2%;}
}
@media screen and (max-width:320px) {
	.nav_mo {font-size: 1.75rem;}
}

/**** banner Section ****/
.banner {}
 .bans {width: 100%; max-width: 1600px; margin: auto; position:relative; z-index: 9990;}
 .ban {width:100%; position:relative;}
 .ban > li {width:100%; position: absolute; top: 0; left: 0;}


 /**** about Section ****/
.about { width: 100%;}
	.about_container { max-width: 1600px; margin: 13em auto;}
	.about_container > ul > li {float: left; width: 40%;}
	.about_container .whybrt_left {margin: 0 3% 0 7% ; overflow: hidden;}
	.about_container .whybrt_right {margin: 0 7% 0 3%;}
		.whybrt_left > img {animation-name:sizeDn; animation-duration:1s; animation-fill-mode:forwards;}
		.whybrt_left > img:hover {animation-name:sizeUp;}
		.whybrt_right > :first-child {font-size: 10.5vw; font-weight: bold; line-height: 1.25em; margin-left:0.75em;}
		.whybrt_right > :nth-child(2) {font-size: 4.5vw; font-weight: bold; line-height: 0.25em;}
		.whybrt_right > p { color:#999; margin-top:4em; padding-top:4em; border-top: 1px solid #333; line-height: 2em}
/**** about Responsive ****/		
@media screen and (max-width:768px) {
	.about_container .whybrt_left {margin: 10% 3% 6% 7%;}
	.whybrt_right > p {margin-top: 2em; padding-top: 2em; line-height: 1.75em;}
}
@media screen and (max-width:480px) {
	.about_container > ul > li {width: 96%;}
	.about_container .whybrt_left {margin: 0 2% ; overflow: hidden;}
	.about_container .whybrt_right {margin: 0 2%;}
	.whybrt_right > :first-child {font-size: 10.5vw; font-weight: bold; line-height: 1.75em; margin-left:0.25em;}
	.whybrt_right > p {font-size: 1.25rem;}
}

/**** CEO section ****/
.ceo {width: 100%;}
	.ceo_wrap {width: 100%; max-width:1056px; margin: auto;}
	.ceo_wrap .ceo_logo {margin-bottom: 1em;}
	.ceo_wrap .ceo_logo > img {width: 15em;}
	.ceo_wrap .ceo_cont {position: relative; padding-top: 5.5em; border-top: 8px solid #ec2427;}
	.ceo_wrap .ceo_cont > img { width: 68.2%; margin-bottom: 11.5em;}
		.ceo_text {position: absolute; color: #ec2427; font-family: 'Playfair Display', serif; top: 0; right: 0;}
		.ceo_text > div {font-size: 7.8vw; line-height: 1.2em; letter-spacing: 0.03em; text-align: right;}
		.ceo_text > div > span {color: #fee100;}
		.ceo_point {position: absolute; width: 5em; height: 1em; background-color: #ec2427; margin-top: -12em;}
		.ceo_point_underline {position: absolute; width: 10em; height: 1px; background-color: #ec2427; margin-top: -10.5em;}
	.ceo_wrap .ceo_text2 {color: #ec2427; line-height: 1.5em; margin-bottom: 7.5em;} 
	.ceo_wrap .ceo_text2 > p {max-width: 960px;}
/**** CEO Responsive ****/
@media screen and (max-width: 768px) {
	.ceo_wrap .ceo_logo {text-align: center;}
	.ceo_wrap .ceo_cont {margin: 0 2%;}
	.ceo_text > div {font-size: 13.5vw;}
	.ceo_wrap .ceo_text2 {margin: 0 2% 7.5em 2%;} 
}
@media screen and (max-width: 480px) {
	.ceo_text {top: 4%;}
	.ceo_wrap .ceo_text2 {font-size: 1.25rem;} 
}


/**** since Section ****/
/* .since {height: 100vh; background-color: #ec2427;}
.since_wrap {max-width: 80%; height: 100vh; margin: auto; position: relative;}
	.since_img1, .since_img2 {position: absolute; top: 50%; left: 50%; color:#f1f1f1;}
	.since_img1 > img, .since_img2 > img {width: 30vw;}
	.since_img1 { transform: translate(-90%, -90%); z-index: 10;}
	.since_txt1 { position: absolute; top:45%; right: 12%; z-index: 11; color: #f1f1f1; text-align: right;}
	.since_txt2 { position: absolute; top:51%; left: 21%; z-index: 12; color: #f1f1f1;}
	.since_txt2 > :first-child {font-size: 7vw; display: inline-block; font-style: italic; font-weight: lighter; line-height: 2em;}
	.since_txt2 > :last-child {font-size: 6vw; display: inline-block; font-weight: bold;}
	.since_txt1 > span {display: inline-block;}
	.since_txt1 > :first-child {margin-right: 2em;}
	.since_txt1 > span:before {content: ""; display: inline-block; width:1.5em; border-bottom: 1px solid #f1f1f1; margin-right: 0.5em;} */
/**** since Responsive ****/
/* @media screen and (max-width: 768px) {
	.since_img1 > img, .since_img2 > img {width: 40vw;}
	.since_txt1 {right: -1%;}
	.since_txt2 {left: 13%;}
	.since_txt2 > :first-child {font-size: 9vw;}
	.since_txt2 > :last-child {font-size: 8vw;}
}
@media screen and (max-width: 480px) {
	.since_img1, .since_img2 {position: relative; top: 0; left: 0;}
	.since_img1 { transform: translate(0, 0);}
	.since_img1 > img, .since_img2 > img {width: 100%;}
	.since_txt1 {position: relative; right: -1%;}
	.since_txt2 {position: relative;}
	.since_txt2 > :first-child {font-size: 9vw;}
	.since_txt2 > :last-child {font-size: 8vw;}

} */



/**** 브롬톤 슬로건 ****/

.slogan {}
	.slogan_wrap {max-width: 1200px; margin: auto; padding-top:10%;}
		.slogan_tits {font-size: 3.5vw; color: #b4b4b4; line-height: 1.5em; padding: 0 1%;}
		.slogan_tits > p {letter-spacing: -0.05em;}
			.slogan_tit1 {color: #c9ac8c; font-weight: 600;}
			.slogan_tit2 {color: #333; font-weight: 600;}
			.slogan_tit3 {color: #ec2427; font-weight: 600;}
		
		.slogan_imgs { padding: 0 1%;}
		.slogan_imgs > ul > li {float: left; margin-top: 5%;}
			.model_s2l {width:38%; writing-mode: vertical-lr; padding: 5% 0 5% 1%; border-left: 1px solid #333;}
			.fa-circle {font-size: 0.5em; line-height: 3.5em;}
			.slogan_img {width: 58%; text-align: center;}
			.slogan_img > img {width: 42.3vw;}
/**** Slogan Responsive ****/
@media screen and (max-width: 768px) {
	.slogan_tits {font-size: 8.5vw; color: #b4b4b4; line-height: 1.5em; padd ing: 0 2%;}
	.slogan_imgs { padding: 0 2%;}
	.model_s2l {width:25%;}
	.slogan_img {width: 75%;}
	.slogan_img > img {width: 100%;}
}
@media screen and (max-width: 480px) {
	.slogan_wrap {padding: 10% 2%;}
	.slogan_tits {font-size: 8.5vw; color: #b4b4b4; line-height: 1.5em; padding: 0 2%;}
	.slogan_imgs {padding: 0}
	.slogan_imgs > ul > li {float: left; width: 100%;}
	.model_s2l {writing-mode: inherit; border: none; border-bottom: 1px solid #333; }
	.slogan_img > img {width: 100%;}
}




/**** Folding Guide ****/

.fd_guide {width:100%; max-width: 1200px; margin: auto; font-size: 1rem;}
	.fd_wrap {width:100%;}
		.fd_tit {padding:20% 2% 15% 2%; font-family: 'Playfair Display', serif; font-size: 5vw; font-weight: bolder; color: #ec2427;}
	.fd_cont {margin-bottom: 8%; padding: 0 2%;}
	.fd_cont > h1 {font-size: 4.5em; font-weight: 800; margin-bottom: 2%;}
	.fd_cont > h1.txt_right {text-align: right;} 
	.fd_cont > h1 > small {font-size: 1.5rem;}
	.fd_cont > ul > li {float: left; width:50%;}
	.fd_cont .fd_cont_txt {border-top: 1px solid #333; line-height: 1.5rem; padding: 11% 0;}
	.fd_cont .fd_cont_img {padding: 0 6%;}

@media screen and (max-width: 768px) {
	.fd_tit {font-size: 8vw;}
	.fd_cont > h1 {font-size: 6em; font-weight: 800; margin-bottom: 2%;}
	.fd_cont > h1 > small {font-size: 2rem;}
	.fd_cont .fd_cont_txt {border-top: 1px solid #333; line-height: 1.75rem; padding: 8% 0; font-size: 1.125rem;}
	.fd_cont .fd_cont_img {padding: 0 3%;}
}

@media screen and (max-width: 480px) {
	.fd_tit {font-size: 4.5rem;}
	.fd_cont > ul > li {float: right; width:100%;}
	.fd_cont > h1.txt_right {text-align: left; border-bottom: 1px solid #333; padding-bottom: 2%; }
	.fd_conts > :nth-child(2) .fd_cont_txt {border: none; font-size: 1.125rem;}
}




/**** 커스터마이즈 ****/ 
.customize {margin-top: 10%; margin-bottom: 5%;}
	.cus_tit_img {}
	.cus_tit, .cus_ban {width:100%; max-width: 1200px; margin: auto; text-align: center;}
	.cus_tit { margin: 20% auto;}
	.cus_tit > span {font-size: 1.25rem; font-weight: bolder; letter-spacing: 1em;}
	.cus_tit > :first-child {color: #ec2427;}
	.cus_tit > :nth-child(2) {color: #fee100;}
	.cus_tit > :nth-child(3) {color: #0f71b4;}
	.cus_tit > :nth-child(4) {color: #96bf48;}
	.cus_tit > :nth-child(5) {color: #ff6138;}
	.cus_tit > :nth-child(6) {color: #5b009c;}
	.cus_tit > :nth-child(7) {color: #ef4423;}
	.cus_tit > :nth-child(8) {color: #ea0a8e;}
	.cus_tit > :nth-child(9) {color: #333;}
	.cus_tit > :last-child {color: #9bc848;}
	.cus_ban {position: relative; margin-top: 5%; max-width: 1000px;}
		.cus_btn {position: absolute; width: 24px; height: 24px; border:2px solid #999; background-color: #999; border-radius: 50%; transition: .3s;}
		.cus_btn > span {color: #fff; line-height: 21px; cursor: pointer;}
		.cus_btn:hover {border:2px solid #999; background-color: #fff;}
		.cus_btn:hover > span {color: #999; line-height: 21px;}
		.frame_btn {top: 42%; left: 47%;}
		.handle_btn {top: 12%; left: 59%;}
		.exf_btn {top: 65%; left: 65%;}
		.rack_btn {top: 52%; left: 23%;}
		.gear_btn {top: 71%; left: 21%;}
		.cus_ban .cus_info {position: absolute; background-color: #fff; box-shadow: 5px 5px 5px rgba(0, 0, 0, .3); font-size:  1rem; padding: 1rem; display: none;}
		.cus_ban .cus_info .cus_info_tit {text-align: left; margin-bottom: 1em;}
		.cus_ban .cus_info .cus_info_tit > h4 {font-weight: 600;}
		.cus_ban .cus_info .cus_info_img {text-align: center; background-color: #f1f1f1;}
		.cus_ban .cus_info .cus_info_img > ul > li {float:left; width: 25%;}
		.cus_ban .cus_info .cus_info_img > ul > li {float:left; width: 25%;}
		.cus_ban .cus_info .cus_info_img3 > ul > li {float:left; width: 33.333%;}
		.cus_ban .cus_info .cus_info_sub {margin: 0.5em 0;}
		.cus_ban .cus_info .cus_info_sub > ul > li {float:left; width: 25%; font-size: 0.75em; font-weight: 600}
		.cus_ban .cus_info .cus_info_sub3 > ul > li {float:left; width: 33.333%; margin: 0.5em 0; font-size: 0.75em; font-weight: 600}
		.cus_ban .cus_info .cus_info_sub > ul > li span {color: #999; font-weight: 300;}
		.cus_ban .cus_info .cus_info_cont {text-align: left; font-size: 0.825em;}
		.cus_ban .handle_info {width:30rem; top: 16%; left: 62%;}
		.cus_ban .frame_info {width:25rem; top: 46%; left: 49%;}
		.cus_ban .exf_info {width:25rem; top: 69%; left: 68%;}
		.cus_ban .rack_info {width:25rem; top: 55%; left: 26%;}
		.cus_ban .gear_info {width:25rem; top: 36%; left: -20%;}
		.pd10 {padding: 0.75em;}
/**** 커스터마이즈 responsive ****/
@media screen and (max-width: 1200px) {
	.cus_ban .gear_info {left: 25%;}
	.cus_ban .handle_info {left: 60%;}
}
@media screen and (max-width: 768px) {
	.cus_btn {display: none;}
	.cus_ban .cus_info {position: static; display: block; width: 100%;  box-shadow: none; margin-bottom: 5em;}
	.cus_ban .cus_info .cus_info_tit > h4 {text-align:center; font-size: 1.75em; font-weight: 600;}
	.cus_ban .cus_info .cus_info_sub {margin-bottom: 2rem;}
	.cus_ban .cus_info .cus_info_sub > ul > li {font-size: 1.25em; font-weight: 600}
	.cus_ban .cus_info .cus_info_sub3 > ul > li {font-size: 1.25em;}
	.cus_ban .cus_info .cus_info_cont {font-size: 1.25em; line-height: 1.5em;}
	.cus_ban .cus_info .cus_info_sub > ul > li span {color: #999; font-size: 0.825em;}
	.cus_ban .cus_info .cus_info_img {background-color: transparent;}
	.cus_ban .cus_info .cus_info_img3 > ul > li {padding: 3em;}
	


}
@media screen and (max-width: 480px) {
	.cus_ban .cus_info .cus_info_tit > h4 {text-align:center; font-size: 1.75em; font-weight: 600;}
	.cus_ban .cus_info .cus_info_sub {margin-bottom: 2rem;}
	.cus_ban .cus_info .cus_info_sub > ul > li {font-size: 1.25em; font-weight: 600}
	.cus_ban .cus_info .cus_info_cont {font-size: 1.125em; line-height: 1.5em;}
	.cus_ban .cus_info .cus_info_sub > ul > li span {color: #999; font-size: 0.825em;}
	.cus_ban .cus_info .cus_info_img {background-color: transparent;}	
	.cus_ban .cus_info .cus_info_img3 > ul > li {padding: 1em;}
}
@media screen and (max-width: 375px) {
	.cus_tit > span {font-size: 1.25rem; font-weight: bolder; letter-spacing: 0.75em;}
	.cus_ban .handle_info {margin-top: 3rem;}
}
	
/**** BWCK Section ****/
.bwck_wrap {width: 100%; max-width: 1600px; margin: auto;}
	.bwck_main_bg {margin-top: 15rem;}
	.bwck_cont {background-color: #ececec; text-align: center; margin-top: 15.5rem; padding: 5rem 0 10rem 0;}
	.bwck_cont > h1 {padding-bottom: 5rem;}
	.bwck_cont > .bwck_cont_txt {max-width: 50rem; margin: auto; line-height: 1.5rem; margin-bottom: 5.5rem;}
	.bwck_btn {width: 15.5rem; height: 3rem; background-color: #f3ce13; transition: 0.3s; border: none;}
	.bwck_btn > span {padding-left: 1em;}
	.bwck_btn:hover {background-color: #333; color: #f3ce13;}
	.bwck_gals {margin: 15rem 0 20rem 0;}
		.bwck_gal {float: left; width:25%; margin: auto;}
/**** BWCK responsive ****/
@media screen and (max-width: 768px) {
	.bwck_gals {margin: 15rem 2% 20rem 2%;}
	.bwck_gal {float: left; width:50%;}
}
@media screen and (max-width: 480px) {
	.bwck_gal {float: left; width:96%; margin: 0 2%;}
}





/**** footer ****/
.footer {width: 100%; height: 30vh; text-align: center; background-color: #222;}
.footer span {color: #f1f1f1;}


/**** Top버튼 ****/
.tops {position: fixed; right: 1rem; bottom: 5%; width: 40px; height: 40px; background-color: #333; border-radius: 50%; text-align: center; z-index: 9999; opacity: 0;}
.tops .top_btn {color: #999; font-size: 1.5em; line-height: 40px; transition: .3s;}
.tops .top_btn:hover {color:#f8f8f8}

/***** spa_ani *****/
.spa_ani {animation-fill-mode:forwards; opacity:0; animation-timing-function:ease-out;}
@keyframes opaShow {
	0% {opacity:0; transform:scale(0.5);}
	99% {opacity:1; transform:scale(1.02);}
	100% {opacity:1; transform:scale(1);}
}
@keyframes rtMove {
	0% {transform:translateX(100%); opacity:0;}
	99% {transform:translateX(-1%); opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes ltMove {
	0% {transform:translateX(-100%); opacity:0;}
	99% {transform:translateX(1%); opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes topMove {
	0% {transform:translateY(-100%); opacity:0;}
	99% {transform:translateY(1%); opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes botMove {
	0% {transform:translateY(100%); opacity:0;}
	100% {transform:translateY(0); opacity:1;}
}